@import url("https://fonts.googleapis.com/css?family=Orbitron:600&display=swap");

.calculator {
  height: 75vh;
  width: 50vh;
  min-height: 600px;
  min-width: 400px;
  border-radius: 15px;
  background: #eaeeea;
  box-shadow: 11px 11px 16px #bec1be, -11px -11px 16px #ffffff;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  font-size: 2.4rem;
}
