@import url("https://fonts.googleapis.com/css?family=Orbitron:600&display=swap");

.display {
  position: initial;
  width: 85%;
  height: 25%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 25px;
  background: #d4dad4;
  box-shadow: inset 9px 9px 18px #b1b3b1, inset -9px -9px 18px #f0f0f0;
}

.display-text {
  font-family: "Orbitron", sans-serif;
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
  font-size: 2rem;
  font-weight: bold;
}
