.key {
  border-radius: 50%;
  height: 75%;
  width: 85%;
  box-shadow: 12px 12px 24px #bec1be, -12px -12px 24px #ffffff;
  font-weight: bold;
  font-size: 1.4rem;
  border: none;
  transition: 0.2s ease;
}

.centerify-self {
  align-self: center;
  justify-self: center;
}

.centerify-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.key:active {
  box-shadow: inset 6px 6px 12px #bec1be, inset -6px -6px 12px #ffffff;
}

.key:focus {
  outline: none;
}
