.keypad {
  height: 70%;
  width: 85%;
  margin: 1rem;
}

.keypad-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 1px;
  grid-auto-rows: minmax(60px, auto);
}
